/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
}

/* Header */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.header-div{
    display: inline-block;
}

header img {
    max-width: 7%;
    height: auto;
}

header h1 {
    margin: 0;
    font-family:  "New Amsterdam", sans-serif;
    color:#ffffff;
}

header p {
    font-size: 100%;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color:#ffffff
}

/* Navegación */
nav {
    background: linear-gradient(45deg, #ffffff, #10ffbf);
    padding: 10px 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a.active {
    color: #10ffbf;
    background-color: #333;
    border-radius: 5px;
    padding: 5px 15px;
}


.banner-container {
    width: 100%;
    height: auto; /* La altura se ajustará automáticamente */
    overflow: hidden;
    position: relative; /* Asegura que el texto se posicione correctamente respecto al contenedor */
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen se ajuste bien dentro del contenedor */
}

.banner-text {
    position: absolute;
    top: 45%; /* Centra verticalmente el texto */
    left: 50%; /* Centra horizontalmente el texto */
    transform: translate(-50%, -50%); /* Ajusta para centrar perfectamente */
    color: white;
    font-size: 6vw; /* Tamaño del texto ajustable según el ancho de la pantalla */
    font-family: "Oswald", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mayor legibilidad */
    margin: 0;
    text-align: center; /* Centra el texto si es multilinea */
}

.aboutMe {
    padding: 20px;
    background-color:#10ffbf;
}

.aboutMe h6 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.aboutMe-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en pantallas pequeñas */
    align-items: center; /* Centra verticalmente la imagen y el texto */
    margin-bottom: 20px;
}

.aboutMe img {
    width: 30%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.intro {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #000000;
    flex: 1;
    margin: 0;
    text-align: justify;
}

.skills-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en filas si no caben en una sola */
    justify-content: center; /* Centra las habilidades horizontalmente */
    gap: 20px; /* Espacio entre cada habilidad */

}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
}

.skill img {
    width: 80px;
    height: 80px;
    object-fit: contain; /* Asegura que las imágenes no se deformen */
    margin-bottom: 10px;
}

.skill p {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}


/* Projects */
#projects {
    padding: 20px;
    background-color: #ffffff;
}

.projects-title h6 {
    font-family: "Oswald", sans-serif;
    font-size: 70px;
    color: #10ffbf; /* Color del texto */
    margin: 20px; /* Espacio entre el título y el contenido */
    text-align: center; /* Alinea el título en el centro */
    padding: 10px; /* Añade un poco de espacio alrededor del texto */
    border-radius: 5px; /* Opcional: redondea las esquinas del fondo */
}

.project-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
}

.project-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(20% - 20px); /* Ajusta el ancho de las tarjetas */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición */
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
}

.project-caption {
    padding: 15px;
}

.project-caption h3 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.project-caption p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #666;
}

.project-item:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Efecto de sombra más grande al pasar el ratón */
}

.contact{
    background-color: #10ffbf;
    padding: 20px;
}
/* Sección de contacto */
.contact-section {
    padding: 40px;
    background-color: #ffffff; /* Fondo blanco para un contraste claro */
    text-align: center; /* Centra el contenido de la sección */
}

.contactMe-title{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.contact-section h2 {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: #10ffbf;
    margin-bottom: 30px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto; /* Centra el formulario */
}

.contact-form label {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no expanda el ancho del elemento */
    border: 2px solid #10ffbf;
}

.contact-form button {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: white;
    background-color: #000000;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.contact-form button:hover {
    background-color: #333333; /* Un tono más oscuro al hacer hover */
}

/* Estilos generales para el footer */
footer {
    background-color: #333; /* Color de fondo oscuro para el footer */
    color: #fff; /* Color de texto blanco para contraste */
    padding: 40px 20px;
    font-family: "Open Sans", sans-serif;
    position: relative; /* Asegura que el footer se ajuste al contenido */
    text-align: center; /* Centra el texto dentro de cada columna */
}

/* Columnas del footer */
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra las columnas horizontalmente */
    margin-bottom: 60px; /* Espacio para el footer inferior */
}

/* Logo en el footer */
.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    max-width: 150px; /* Ajusta el tamaño del logotipo */
    height: auto;
}

/* Sección de proyectos y contacto */
.footer-columns section {
    flex: 1;
    min-width: 200px;
    padding-bottom: 5%;
}

.footer-columns h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px; /* Ajuste el tamaño de la fuente */
    margin-bottom: 10px;
}

.footer-columns ul {
    list-style: none;
    padding: 0;
}

.footer-columns ul li {
    margin-bottom: 10px;
}

.footer-columns ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.footer-columns ul li a:hover {
    color: #10ffbf; /* Color del enlace al pasar el ratón */
}

/* Redes sociales */
.social-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-links img {
    width: 30px; /* Ajuste el tamaño de los iconos */
    height: 30px;
    transition: opacity 0.3s ease;
    filter: invert(1);
}

.social-links img:hover {
    opacity: 0.8; /* Efecto de opacidad en las redes sociales al pasar el ratón */
}

/* Estilos para la sección de información de contacto */
.info {
    color: #fff; /* Color de texto blanco para contraste */
    padding: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 20px auto; /* Espacio alrededor y centrado horizontalmente */
    max-width: 400px; /* Ancho máximo para la sección de contacto */
    text-align: center;
}

.info address {
    font-style: normal; /* Elimina el estilo itálico predeterminado de <address> */
    font-family: "Open Sans", sans-serif;
}

.info span {
    display: block; /* Asegura que cada elemento esté en su propia línea */
}

.info a {
    color: #10ffbf; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Negrita para resaltar el enlace */
}

.info a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón para mejor visibilidad */
}

/* Parte inferior del footer */
.footer-bottom {
    background-color: #10ffbf;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para dispositivos pequeños */
@media (max-width: 768px) {
    /* Mostrar el botón de menú */
    .menu-toggle {
        display: inline-block;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        font-weight: bold;
        color:#ffffff;
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    header h1 {
        font-size: 20px;
        margin-right: 60px;
    }

    header p{
        font-size: 10px;
    }

    .banner-text {
        font-size: 8vw; /* Aumenta el tamaño del texto en pantallas pequeñas para mejorar la visibilidad */
        top: 50%; /* Ajusta la posición del texto en pantallas pequeñas */
    }

    /* Ocultar la barra de navegación por defecto */
    nav {
        display: none;
    }

    /* Mostrar la barra de navegación cuando se activa */
    nav.active {
        display: block;
        top: 22%;
        width: 100%;
        background-color: #ffffff;
        z-index: 1000;
    }

    nav ul {
        text-align: left;
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #10ffbf;
        text-align: center;
    }

    .aboutMe-content {
        flex-direction: column;
        align-items: center;
    }
    .project-item {
        width: 100%; /* Asegura que cada tarjeta ocupe el 100% del ancho del contenedor */
    }

    .contact-section h2 {
        font-size: 40px;
    }

    .contact-form {
        padding: 0 20px; /* Reduce el padding lateral en pantallas pequeñas */
    }

    .contact-form input, 
    .contact-form textarea {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 16px;
    }

    .footer-logo img {
        max-width: 20%;
    }

        /* Sección de proyectos y contacto */
    .footer-columns {
        justify-content: center; /* Centra las columnas horizontalmente */
        text-align: center; /* Centra el texto dentro de cada columna */
    }

    .info {
        padding: 15px; /* Reducir el padding para pantallas pequeñas */
        margin: 10px auto; /* Espacio alrededor y centrado horizontalmente */
        max-width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    .info span {
        font-size: 14px; /* Reducir el tamaño de fuente para pantallas más pequeñas */
        margin-bottom: 8px; /* Espacio reducido entre los elementos */
    }

    .info a {
        font-size: 14px; /* Reducir el tamaño de fuente del enlace */
    }

    .footer-columns section {
        min-width: 200px;
    }

    .skills-container {
    justify-content: space-around;
    }
    
    .skill {
        width: 150px;
    }

    .skill img {
        width: 100px;
        height: 100px;
    }

    .skill p {
        font-size: 20px;
    }
        
}


