body {
    background-image: url("../Imagenes/fondoFormulario.jpg"); /* Define la imagen de fondo para la página. */
    background-size: cover; /* Acomoda la imagen al contenedor */
    background-position: center; /* Centra la imagen */
    margin: 0; /* Elimina los márgenes predeterminados */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Header */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.header-div{
    display: inline-block;
}

header img {
    max-width: 7%;
    height: auto;
}

header h1 {
    margin: 0;
    font-family:  "New Amsterdam", sans-serif;
    color:#ffffff;
}

header p {
    font-size: 100%;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color:#ffffff
}

/* Navegación */
nav {
    background: linear-gradient(45deg, #ffffff, #10ffbf);
    padding: 10px 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a.active {
    color: #10ffbf;
    background-color: #333;
    border-radius: 5px;
    padding: 5px 15px;
}


.container {
    margin: 5% 20%;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

.container:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Aplica una sombra suave cuando el usuario pasa sobre el contenedor */
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Establece la fuente */
    font-size: 30px; /* Define el tamaño de la fuente */
    color: #4daf02; /* Define el color del texto */
    text-align: center; /* Centra el texto horizontalmente. */
    margin-bottom: 20px; /* Añade un margen inferior */
    position: relative; /* Permite posicionar elementos relativos al h1. */
}

.container h1::after { /* Crea un elemento que se posiciona después del contenido del h1 */
    content: ""; /* Genera un contenido vacío. */
    width: 100%; /* Establece un ancho */
    height: 3px; /* Define una altura */
    background: linear-gradient(100deg, #4daf02, #f4f409); /* Aplica un degradado */
    display: block; /* Hace que el elemento se comporte como un bloque. */
    margin: 10px auto; /* Centra la línea y añade márgenes arriba y abajo. */
    border-radius: 5px; /* Redondea las esquinas */
}

fieldset {
    border: 4px solid transparent; /* Crea un borde transparente. */
    border-radius: 10px; /* Redondea las esquinas */
    padding: 15px; /* Añade espacio interior */
    margin-bottom: 20px; /* Añade un margen inferior */
    background: 
        linear-gradient(#fff, #fff) padding-box, /* Fondo blanco */
        linear-gradient(45deg, #4daf02, #f4f409) border-box; /* Degradado en el borde */
}

legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define la fuente */
    font-weight: bold; /* Aplica negrita al texto. */
    color: #4daf02; /* Colorea el texto */
    font-size: 18px; /* Establece el tamaño de la fuente. */
    margin-bottom: 10px; /* Añade un margen inferior */
    padding: 0 10px; /* Añade espacio horizontal. */
    background-color: #fff; /* Fondo blanco para el texto del legend */
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define la fuente */
    display: block; /* Hace que cada etiqueta ocupe todo el ancho disponible */
    margin-bottom: 5px; /* Añade espacio debajo de la etiqueta. */
    font-size: 14px; /* Define el tamaño de la fuente. */
    color: #080808; /* Colorea el texto */
}

input, select, textarea {
    width: 100%; /* Establece el ancho del elemento */
    padding: 10px; /* Añade espacio interno */
    margin-bottom: 15px; /* Añade un margen inferior */
    border: 1px solid #ddd; /* Crea un borde alrededor del elemento. */
    border-radius: 5px; /* Redondea las esquinas */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Establece la fuente */
    font-size: 14px; /* Define el tamaño de la fuente. */
    background-color: #f9f9f9; /* Define un fondo */
    box-sizing: border-box; /* Hace que el ancho total incluya el padding y el borde. */
}

input:focus, select:focus, textarea:focus {
    outline: none; /* Elimina el contorno predeterminado */
    border-color: #4daf02; /* Cambia el color del borde */
    background-color: #fff; /* Establece el fondo en blanco */
}

textarea {
    min-height: 100px; /* Define la medida mínima */
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define la fuente */
    font-size: 14px; /* Tamaño de la fuente */
    color: #080808; /* Colorea el texto */
    margin-bottom: 15px; /* Añade un margen inferior */
    line-height: 1.5; /* Espaciado entre líneas */
}

/* Estilo para el contenedor del grupo de checkboxes */
.checkbox-group {
    display: flex;/*alinear el contenido en una fila */
    align-items: baseline; /* Alinea los elementos en la línea base*/
    margin-bottom: 20px; /*Margen en la parte inferior*/
    align-content: stretch; /* Alinea el contenido dentro del contenedor*/

    justify-content: center;/* Centra los elementos horizontalmente dentro del contenedor */
}

/* Estilo para el label asociado al checkbox */
.checkbox-group label {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define la fuente */
    font-size: 14px; /* Define el tamaño de la fuente */
    color: #080808; /* Color del texto */
    cursor: pointer; /* Cambia el cursor a puntero cuando se pasa sobre el texto */
    line-height: 1.5; /* Espaciado entre líneas para mejor legibilidad */
    display: flex; /* Usa flexbox para alinear el checkbox y el texto */
    align-items: flex-start;/* Alinea el checkbox y el texto verticalmente en el centro */
    white-space: nowrap;/*Hace que todo se vea en una misma línea*/
}

button {
    background: linear-gradient(45deg, #4daf02, #f4f409); /* Aplica un fondo degradado al botón. */
    color: #ffffff; /* Define el color */
    border: none; /* Elimina el borde */
    padding: 12px 30px; /* Añade espacio dentro del botón. */
    border-radius: 25px; /* Redondea las esquinas del botón */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define la fuente */
    font-weight: bold; /* Aplica negrita al texto */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor a un puntero cuando pasa sobre el botón. */
    width: 100%; /* Hace que el botón ocupe todo el ancho */
}

button:hover {
    transform: translateY(-3px); /* Desplaza el botón hacia arriba cuando pasa el cursor sobre él. */
}

/* Estilos generales para el footer */
footer {
    background-color: #333; /* Color de fondo oscuro para el footer */
    color: #fff; /* Color de texto blanco para contraste */
    padding: 40px 20px;
    font-family: "Open Sans", sans-serif;
    position: relative; /* Asegura que el footer se ajuste al contenido */
    text-align: center; /* Centra el texto dentro de cada columna */
}

/* Columnas del footer */
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra las columnas horizontalmente */
    margin-bottom: 60px; /* Espacio para el footer inferior */
}

/* Logo en el footer */
.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    max-width: 150px; /* Ajusta el tamaño del logotipo */
    height: auto;
}

/* Sección de proyectos y contacto */
.footer-columns section {
    flex: 1;
    min-width: 200px;
    padding-bottom: 5%;
}

.footer-columns h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px; /* Ajuste el tamaño de la fuente */
    margin-bottom: 10px;
}

.footer-columns ul {
    list-style: none;
    padding: 0;
}

.footer-columns ul li {
    margin-bottom: 10px;
}

.footer-columns ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.footer-columns ul li a:hover {
    color: #10ffbf; /* Color del enlace al pasar el ratón */
}

/* Redes sociales */
.social-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-links img {
    width: 30px; /* Ajuste el tamaño de los iconos */
    height: 30px;
    transition: opacity 0.3s ease;
    filter: invert(1);
}

.social-links img:hover {
    opacity: 0.8; /* Efecto de opacidad en las redes sociales al pasar el ratón */
}

/* Estilos para la sección de información de contacto */
.info {
    color: #fff; /* Color de texto blanco para contraste */
    padding: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 20px auto; /* Espacio alrededor y centrado horizontalmente */
    max-width: 400px; /* Ancho máximo para la sección de contacto */
    text-align: center;
}

.info address {
    font-style: normal; /* Elimina el estilo itálico predeterminado de <address> */
    font-family: "Open Sans", sans-serif;
}

.info span {
    display: block; /* Asegura que cada elemento esté en su propia línea */
}

.info a {
    color: #10ffbf; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Negrita para resaltar el enlace */
}

.info a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón para mejor visibilidad */
}

/* Parte inferior del footer */
.footer-bottom {
    background-color: #10ffbf;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


    /* Media query para dispositivos móviles */
@media (max-width: 768px) {
    body {
        background-image: none; /* Elimina la imagen de fondo en pantallas pequeñas */
        background-color: #fff; /* Establece un fondo blanco para la página */
    }

    /* Mostrar el botón de menú */
    .menu-toggle {
        display: inline-block;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        font-weight: bold;
        color:#ffffff;
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    header h1 {
        font-size: 20px;
        margin-right: 60px;
    }

    header p {
        font-size: 10px;
    }

    /* Ocultar la barra de navegación por defecto */
    nav {
        display: none;
    }

    /* Mostrar la barra de navegación cuando se activa */
    nav.active {
        display: block;
        top: 22%;
        width: 100%;
        background-color: #ffffff;
        z-index: 1000;
    }

    nav ul {
        text-align: left;
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #10ffbf;
        text-align: center;
    }

    .container {
        margin: 10px; /* Reduce el margen exterior para ajustarse mejor en pantallas pequeñas */
        padding: 20px; /* Reduce el padding para mejorar el ajuste en pantallas pequeñas */
    }

    button {
        font-size: 14px; /* Ajusta el tamaño de la fuente del botón para mejor visualización en dispositivos móviles */
        padding: 10px 20px; /* Ajusta el padding para que el botón se vea apropiado en pantallas pequeñas */
    }

    .footer-logo img {
        max-width: 20%;
    }

    /* Sección de proyectos y contacto */
    .footer-columns {
        justify-content: center; /* Centra las columnas horizontalmente */
        text-align: center; /* Centra el texto dentro de cada columna */
    }

    .footer-columns section {
        min-width: 200px;
    }

    .info {
        padding: 15px; /* Reducir el padding para pantallas pequeñas */
        margin: 10px auto; /* Espacio alrededor y centrado horizontalmente */
        max-width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    .info span {
        font-size: 14px; /* Reducir el tamaño de fuente para pantallas más pequeñas */
        margin-bottom: 8px; /* Espacio reducido entre los elementos */
    }

    .info a {
        font-size: 14px; /* Reducir el tamaño de fuente del enlace */
    }
}