/* Estilos globales */
body {
    font-family: Arial, sans-serif; /* Fuente principal del cuerpo */
    line-height: 1.6; /* Espacio entre líneas de texto */
    background-color: #000000; /* Color de fondo de la página */
}

/* Header */
header {
    background-color: #000000; /* Fondo negro para el encabezado */
    color: #ffffff; /* Texto en color blanco */
    padding: 20px; /* Espaciado interno del encabezado */
    text-align: center; /* Centra el texto dentro del encabezado */
}

.header-div{
    display: inline-block; /* Permite que los elementos dentro se alineen en línea */
}

header img {
    max-width: 7%; /* Ancho máximo de la imagen dentro del encabezado */
    height: auto; /* Altura automática para mantener la proporción */
}

header h1 {
    margin: 0; /* Elimina el margen del título */
    font-family: "New Amsterdam", sans-serif; /* Fuente específica para el título */
    color: #ffffff; /* Color del texto del título */
}

header p {
    font-size: 100%; /* Tamaño de fuente del párrafo */
    font-family: "Shadows Into Light", cursive; /* Fuente cursiva para el párrafo */
    font-weight: bold; /* Negrita en el texto del párrafo */
    padding: 0; /* Elimina el espaciado interno */
    margin: 0; /* Elimina el margen del párrafo */
    color: #ffffff; /* Color del texto del párrafo */
}

/* Navegación */
nav {
    background: linear-gradient(45deg, #ffffff, #10ffbf); /* Fondo degradado para la navegación */
    padding: 10px 0; /* Espaciado interno de la barra de navegación */
    font-family: "Oswald", sans-serif; /* Fuente específica para la navegación */
    font-size: 20px; /* Tamaño de la fuente en la navegación */
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    text-align: center; /* Centra los elementos de la lista */
}

nav ul li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin: 0 15px; /* Espaciado horizontal entre los elementos de la lista */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    color: #333; /* Color del texto del enlace */
    font-weight: bold; /* Negrita en el texto del enlace */
    padding: 5px 10px; /* Espaciado interno del enlace */
}

nav ul li a.active {
    color: #10ffbf; /* Color del texto del enlace activo */
    background-color: #333; /* Fondo del enlace activo */
    border-radius: 5px; /* Bordes redondeados en el enlace activo */
    padding: 5px 15px; /* Espaciado interno adicional en el enlace activo */
}

/* Contenedor del banner */
.banner-container {
    width: 100%; /* Ancho del contenedor al 100% del elemento padre */
    height: auto; /* Altura automática para ajustar el contenido */
    overflow: hidden; /* Oculta el contenido que se desborda */
    position: relative; /* Posiciona el texto dentro del contenedor */
}

.banner-container img {
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    height: 100%; /* Altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

.banner-text {
    position: absolute; /* Posiciona el texto de manera absoluta dentro del contenedor */
    top: 45%; /* Posiciona el texto verticalmente al 45% desde la parte superior */
    left: 50%; /* Posiciona el texto horizontalmente al 50% desde la izquierda */
    transform: translate(-50%, -50%); /* Ajusta el texto para centrarlo perfectamente */
    color: white; /* Color del texto */
    font-size: 6vw; /* Tamaño del texto ajustable según el ancho de la pantalla */
    font-family: "Oswald", sans-serif; /* Fuente específica para el texto del banner */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
    margin: 0; /* Elimina el margen del texto */
    text-align: center; /* Centra el texto si es multilinea */
}

/* Sección sobre mí */
.aboutMe {
    padding: 20px; /* Espaciado interno en la sección */
    background-color: #10ffbf; /* Color de fondo de la sección */
}

.aboutMe h6 {
    font-family: "Oswald", sans-serif; /* Fuente específica para el encabezado */
    font-size: 60px; /* Tamaño grande del texto del encabezado */
    color: white; /* Color del texto del encabezado */
    margin: 20px; /* Margen alrededor del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    padding: 10px; /* Espaciado interno del encabezado */
    border-radius: 5px; /* Bordes redondeados del encabezado */
}

.aboutMe-content {
    display: flex; /* Muestra los elementos en un contenedor flexible */
    flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples filas si es necesario */
    align-items: center; /* Centra verticalmente la imagen y el texto */
    margin-bottom: 20px; /* Margen inferior de la sección */
}

.aboutMe img {
    width: 30%; /* Ancho de la imagen al 30% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 20px; /* Espaciado a la derecha de la imagen */
    margin-bottom: 20px; /* Espaciado inferior de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin deformarla */
    border-radius: 50%; /* Bordes redondeados para hacer la imagen circular */
}

.intro {
    font-family: "Open Sans", sans-serif; /* Fuente específica para la introducción */
    font-size: 20px; /* Tamaño de la fuente de la introducción */
    line-height: 1.6; /* Espacio entre líneas de texto */
    color: #000000; /* Color del texto de la introducción */
    flex: 1; /* Permite que el texto ocupe el espacio restante */
    margin: 0; /* Elimina el margen del texto */
    text-align: justify; /* Justifica el texto */
}

/* Contenedor de habilidades */
.skills-container {
    display: flex; /* Muestra los elementos en un contenedor flexible */
    flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples filas si es necesario */
    justify-content: center; /* Centra las habilidades horizontalmente */
    gap: 20px; /* Espacio entre cada habilidad */
}

.skill {
    display: flex; /* Muestra los elementos en un contenedor flexible */
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 120px; /* Ancho fijo para cada habilidad */
    text-align: center; /* Centra el texto dentro de cada habilidad */
}

.skill img {
    width: 80px; /* Ancho de la imagen dentro de la habilidad */
    height: 80px; /* Altura de la imagen dentro de la habilidad */
    object-fit: contain; /* Ajusta la imagen para que no se deforme */
    margin-bottom: 10px; /* Espaciado inferior de la imagen */
}

.skill p {
    font-family: "Oswald", sans-serif; /* Fuente específica para el texto de habilidad */
    font-size: 18px; /* Tamaño de la fuente del texto de habilidad */
    color: #000000; /* Color del texto de habilidad */
    font-weight: bold; /* Negrita en el texto de habilidad */
}
/* Projects */
#projects {
    padding: 20px; /* Espaciado interno de la sección de proyectos */
    background-color: #ffffff; /* Fondo blanco para la sección de proyectos */
}

/* Título de proyectos */
.projects-title h6 {
    font-family: "Oswald", sans-serif; /* Fuente específica para el título */
    font-size: 70px; /* Tamaño grande del texto del título */
    color: #10ffbf; /* Color del texto del título */
    margin: 20px; /* Espacio alrededor del título */
    text-align: center; /* Alinea el título en el centro */
    padding: 10px; /* Espaciado interno del título */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

/* Contenedor de los elementos del proyecto */
.project-items-container {
    display: flex; /* Muestra los elementos en un contenedor flexible */
    flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples filas si es necesario */
    gap: 20px; /* Espacio entre las tarjetas de proyecto */
}

/* Elemento individual del proyecto */
.project-item {
    background: white; /* Fondo blanco para cada tarjeta de proyecto */
    border-radius: 10px; /* Bordes redondeados para las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para la tarjeta */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    width: calc(20% - 20px); /* Ancho ajustado de las tarjetas */
    text-align: center; /* Centra el texto dentro de la tarjeta */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para los efectos de hover */
}

/* Imagen dentro de cada tarjeta de proyecto */
.project-item img {
    width: 100%; /* Ancho de la imagen al 100% del contenedor de la tarjeta */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Elimina el espacio debajo de la imagen */
}

/* Texto de la descripción del proyecto */
.project-caption {
    padding: 15px; /* Espaciado interno del texto de descripción */
}

.project-caption h3 {
    font-family: "Oswald", sans-serif; /* Fuente específica para el título de la descripción */
    font-size: 20px; /* Tamaño de la fuente del título de la descripción */
    margin: 10px 0; /* Margen superior e inferior del título */
    color: #333; /* Color del texto del título de la descripción */
}

.project-caption p {
    font-family: "Open Sans", sans-serif; /* Fuente específica para el párrafo de la descripción */
    font-size: 16px; /* Tamaño de la fuente del párrafo de la descripción */
    color: #666; /* Color del texto del párrafo de la descripción */
}

/* Efectos de hover para las tarjetas de proyecto */
.project-item:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más grande al pasar el ratón */
}

/* Sección de contacto general */
.contact {
    background-color: #10ffbf; /* Fondo verde para la sección de contacto */
    padding: 20px; /* Espaciado interno de la sección de contacto */
}

/* Sección de contacto específica */
.contact-section {
    padding: 40px; /* Espaciado interno de la sección de contacto */
    background-color: #ffffff; /* Fondo blanco para un contraste claro */
    text-align: center; /* Centra el contenido dentro de la sección */
}

/* Título de contacto */
.contactMe-title {
    font-family: "Oswald", sans-serif; /* Fuente específica para el título de contacto */
    font-size: 60px; /* Tamaño grande del texto del título de contacto */
    color: white; /* Color del texto del título de contacto */
    margin: 20px; /* Espacio alrededor del título */
    text-align: center; /* Alinea el título en el centro */
    padding: 10px; /* Espaciado interno del título */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

/* Título de la sección de contacto */
.contact-section h2 {
    font-family: "Oswald", sans-serif; /* Fuente específica para el subtítulo de contacto */
    font-size: 50px; /* Tamaño del texto del subtítulo de contacto */
    color: #10ffbf; /* Color del texto del subtítulo de contacto */
    margin-bottom: 30px; /* Margen inferior del subtítulo */
    text-align: center; /* Centra el texto del subtítulo */
}

/* Formulario de contacto */
.contact-form {
    display: flex; /* Muestra los elementos en un contenedor flexible */
    flex-direction: column; /* Organiza los elementos verticalmente */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

/* Etiquetas del formulario de contacto */
.contact-form label {
    font-family: "Oswald", sans-serif; /* Fuente específica para las etiquetas */
    font-size: 20px; /* Tamaño de la fuente de las etiquetas */
    color: #000000; /* Color del texto de las etiquetas */
    margin-bottom: 10px; /* Espacio debajo de las etiquetas */
    text-align: left; /* Alinea el texto de las etiquetas a la izquierda */
}

/* Campos de entrada y área de texto del formulario */
.contact-form input, .contact-form textarea {
    font-family: "Open Sans", sans-serif; /* Fuente específica para los campos de entrada */
    font-size: 16px; /* Tamaño de la fuente de los campos de entrada */
    padding: 10px; /* Espaciado interno en los campos de entrada */
    margin-bottom: 20px; /* Espacio inferior en los campos de entrada */
    border-radius: 5px; /* Bordes redondeados en los campos de entrada */
    background-color: #f9f9f9; /* Fondo claro en los campos de entrada */
    width: 100%; /* Ancho completo de los campos de entrada */
    box-sizing: border-box; /* Incluye el padding en el ancho total del elemento */
    border: 2px solid #10ffbf; /* Borde verde en los campos de entrada */
}

/* Botón de envío del formulario */
.contact-form button {
    font-family: "Oswald", sans-serif; /* Fuente específica para el botón */
    font-size: 18px; /* Tamaño de la fuente del botón */
    color: white; /* Color del texto del botón */
    background-color: #000000; /* Fondo negro del botón */
    border: none; /* Elimina el borde del botón */
    padding: 15px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-bottom: 15px; /* Espacio inferior del botón */
}

/* Efecto de hover para el botón de contacto */
.contact-form button:hover {
    background-color: #333333; /* Fondo más oscuro al pasar el ratón */
}

/* Estilos generales para el footer */
footer {
    background-color: #333; /* Fondo oscuro para el footer */
    color: #fff; /* Texto blanco para contraste */
    padding: 40px 20px; /* Espaciado interno del footer */
    font-family: "Open Sans", sans-serif; /* Fuente específica para el texto del footer */
    position: relative; /* Posiciona el footer relativo al contenido */
    text-align: center; /* Centra el texto dentro del footer */
}

/* Columnas del footer */
.footer-columns {
    display: flex; /* Muestra las columnas en un contenedor flexible */
    flex-wrap: wrap; /* Permite que las columnas se acomoden en múltiples filas si es necesario */
    gap: 20px; /* Espacio entre las columnas */
    justify-content: center; /* Centra las columnas horizontalmente */
    margin-bottom: 60px; /* Espacio inferior para el footer */
}

/* Logo en el footer */
.footer-logo {
    flex: 1; /* Permite que el logo ocupe el espacio restante */
    text-align: center; /* Centra el logo dentro de su contenedor */
}

.footer-logo img {
    max-width: 150px; /* Tamaño máximo del logotipo */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Sección de proyectos y contacto en el footer */
.footer-columns section {
    flex: 1; /* Permite que cada sección ocupe el espacio restante */
    min-width: 200px; /* Ancho mínimo para cada sección */
    padding-bottom: 5%; /* Espacio inferior en cada sección */
}

/* Encabezado de las secciones del footer */
.footer-columns h3 {
    font-family: "Oswald", sans-serif; /* Fuente específica para los encabezados en el footer */
    font-size: 24px; /* Tamaño de la fuente de los encabezados */
    margin-bottom: 10px; /* Margen inferior del encabezado */
}

/* Listas dentro del footer */
.footer-columns ul {
    list-style: none; /*No permite el estilo de lista dentro de la lista del footer*/
}
/* Estilos para las listas dentro del footer */
.footer-columns ul li {
    margin-bottom: 10px; /* Espacio inferior entre los elementos de la lista */
}

/* Estilos para los enlaces dentro de las listas del footer */
.footer-columns ul li a {
    color: #fff; /* Color blanco para el texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 16px; /* Tamaño de la fuente del enlace */
    font-weight: bold; /* Negrita para los enlaces */
}

/* Efecto de hover para los enlaces dentro de las listas del footer */
.footer-columns ul li a:hover {
    color: #10ffbf; /* Color verde claro para el enlace al pasar el ratón */
}

/* Estilos para las redes sociales */
.social-links ul {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0; /* Elimina el padding */
    display: flex; /* Muestra los iconos en una fila */
    gap: 15px; /* Espacio entre los iconos */
    justify-content: center; /* Centra los iconos horizontalmente */
}

/* Estilos para los iconos de redes sociales */
.social-links img {
    width: 30px; /* Tamaño fijo de los iconos */
    height: 30px; /* Tamaño fijo de los iconos */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    filter: invert(1); /* Invierte los colores de los iconos (para usarlos en un fondo oscuro) */
}

/* Efecto de hover para los iconos de redes sociales */
.social-links img:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón sobre los iconos */
}

/* Estilos para la sección de información de contacto */
.info {
    color: #fff; /* Color blanco para el texto */
    padding: 20px; /* Espaciado interno de la sección */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 20px auto; /* Espacio alrededor y centrado horizontalmente */
    max-width: 400px; /* Ancho máximo de la sección */
    text-align: center; /* Centra el texto dentro de la sección */
}

/* Estilos para la etiqueta <address> dentro de la sección de información de contacto */
.info address {
    font-style: normal; /* Elimina el estilo itálico predeterminado del elemento <address> */
    font-family: "Open Sans", sans-serif; /* Fuente específica para la información de contacto */
}

/* Estilos para los elementos <span> dentro de la sección de información de contacto */
.info span {
    display: block; /* Muestra cada elemento en una línea separada */
}

/* Estilos para los enlaces dentro de la sección de información de contacto */
.info a {
    color: #10ffbf; /* Color verde claro para los enlaces */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Negrita para resaltar el enlace */
}

/* Efecto de hover para los enlaces dentro de la sección de información de contacto */
.info a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}

/* Estilos para la parte inferior del footer */
.footer-bottom {
    background-color: #10ffbf; /* Fondo verde claro para la parte inferior del footer */
    padding: 20px 0; /* Espaciado interno de la parte inferior del footer */
    text-align: center; /* Centra el texto en la parte inferior del footer */
    position: absolute; /* Posiciona el footer en la parte inferior */
    bottom: 0; /* Alinea el footer en la parte inferior de la página */
    width: 100%; /* Ancho completo del footer */
}

/* Estilos específicos para dispositivos pequeños (máximo 768px de ancho) */
@media (max-width: 768px) {
    /* Mostrar el botón de menú */
    .menu-toggle {
        display: inline-block; /* Muestra el botón en dispositivos pequeños */
        background: none; /* Sin fondo para el botón */
        border: none; /* Sin borde para el botón */
        font-size: 30px; /* Tamaño de fuente grande para el botón */
        cursor: pointer; /* Muestra el cursor de mano sobre el botón */
        font-weight: bold; /* Negrita para el texto del botón */
        color: #ffffff; /* Color blanco para el texto del botón */
    }

    /* Ajustar el tamaño de la imagen en el encabezado */
    header img {
        max-width: 100%; /* Asegura que la imagen no se expanda más allá del ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    /* Ajustar el tamaño de la fuente del título en el encabezado */
    header h1 {
        font-size: 20px; /* Tamaño de fuente reducido para pantallas pequeñas */
        margin-right: 60px; /* Margen derecho para el título */
    }

    /* Ajustar el tamaño de la fuente del párrafo en el encabezado */
    header p {
        font-size: 10px; /* Tamaño de fuente reducido para el párrafo */
    }

    /* Ajustar el tamaño del texto en el banner */
    .banner-text {
        font-size: 8vw; /* Tamaño de fuente relativo al ancho de la pantalla para mejorar visibilidad */
        top: 50%; /* Ajusta la posición vertical del texto en el banner */
    }

    /* Ocultar la barra de navegación por defecto en dispositivos pequeños */
    nav {
        display: none; /* Oculta la barra de navegación */
    }

    /* Mostrar la barra de navegación cuando se activa */
    nav.active {
        display: block; /* Muestra la barra de navegación cuando tiene la clase "active" */
        top: 22%; /* Ajusta la posición vertical de la barra de navegación */
        width: 100%; /* Ancho completo de la barra de navegación */
        background-color: #ffffff; /* Fondo blanco para la barra de navegación */
        z-index: 1000; /* Asegura que la barra de navegación esté sobre otros elementos */
    }

    /* Estilos para los elementos de la lista en la barra de navegación */
    nav ul {
        text-align: left; /* Alinea el texto de los elementos de la lista a la izquierda */
        padding: 10px; /* Espaciado interno de la lista */
    }

    nav ul li {
        display: block; /* Muestra los elementos de la lista en bloques */
        margin: 10px 0; /* Margen superior e inferior para los elementos de la lista */
    }

    nav ul li a {
        display: block; /* Muestra los enlaces como bloques */
        padding: 10px; /* Espaciado interno de los enlaces */
        border-bottom: 1px solid #10ffbf; /* Línea inferior verde para los enlaces */
        text-align: center; /* Centra el texto dentro de los enlaces */
    }

    /* Estilos para la sección .aboutMe en dispositivos pequeños */
    .aboutMe-content {
        flex-direction: column; /* Muestra los elementos en una columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    /* Ajustar el ancho de los elementos del proyecto */
    .project-item {
        width: 100%; /* Asegura que cada tarjeta de proyecto ocupe el 100% del ancho del contenedor */
    }

    /* Ajustar el tamaño de la fuente en la sección de contacto */
    .contact-section h2 {
        font-size: 40px; /* Tamaño de fuente reducido para pantallas pequeñas */
    }

    /* Ajustar el padding en el formulario de contacto */
    .contact-form {
        padding: 0 20px; /* Reduce el padding lateral en pantallas pequeñas */
    }

    /* Ajustar el tamaño de la fuente en los campos de entrada y área de texto del formulario de contacto */
    .contact-form input, 
    .contact-form textarea {
        font-size: 14px; /* Tamaño de fuente reducido para campos de entrada */
    }

    /* Ajustar el tamaño de la fuente del botón en el formulario de contacto */
    .contact-form button {
        font-size: 16px; /* Tamaño de fuente reducido para el botón */
    }

    /* Ajustar el tamaño del logotipo en el footer */
    .footer-logo img {
        max-width: 20%; /* Ancho máximo del logotipo en el footer */
    }

    /* Ajustar la disposición de las columnas en el footer */
    .footer-columns {
        justify-content: center; /* Centra las columnas horizontalmente */
        text-align: center; /* Centra el texto dentro de cada columna */
    }

    /* Ajustar el padding y el tamaño máximo de la sección de información de contacto */
    .info {
        padding: 15px; /* Reduce el padding en pantallas pequeñas */
        margin: 10px auto; /* Espacio alrededor y centrado horizontalmente */
        max-width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    /* Ajustar el tamaño de la fuente y el margen en los elementos span dentro de la sección de información de contacto */
    .info span {
        font-size: 14px; /* Tamaño de fuente reducido para pantallas más pequeñas */
        margin-bottom: 8px; /* Espacio reducido entre los elementos */
    }

    /* Ajustar el tamaño de la fuente de los enlaces en la sección de información de contacto */
    .info a {
        font-size: 14px; /* Tamaño de fuente reducido para enlaces */
    }

    /* Ajustar el tamaño mínimo de las secciones en el footer */
    .footer-columns section {
        min-width: 200px; /* Ancho mínimo de las secciones en el footer */
    }

    /* Ajustar la disposición de las habilidades en pantallas pequeñas */
    .skills-container {
        justify-content: space-around; /* Distribuye las habilidades de manera uniforme */
    }
    
    /* Ajustar el ancho de las habilidades */
    .skill {
        width: 150px; /* Ancho fijo para las habilidades */
    }

    /* Ajustar el tamaño de las imágenes de las habilidades */
    .skill img {
        width: 100px; /* Ancho fijo de las imágenes de las habilidades */
        height: 100px; /* Alto fijo de las imágenes de las habilidades */
    }

    /* Ajustar el tamaño de la fuente para los textos de las habilidades */
    .skill p {
        font-size: 20px; /* Tamaño de fuente para los textos de las habilidades */
    }
}
